* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background: #b8cdf5;
  font-family: sans-serif;
}

#animate-bg {
  background-size: auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.center-div {
  color: rgb(38, 34, 41);
  background-color: rgba(25, 27, 36, 0.1);
  padding-top: 2rem;
  padding-bottom: 3rem;
  padding-right: 4rem;
  padding-left: 4rem;
  border-radius: 1rem;
}
.center-div h1 {
  color: #800060;
  padding: 1.5rem;
  font-size: 4rem;
}
.center-div p {
  font-size: 1.5rem;
  color: #283244;
}

.center-div a {
  text-decoration: none;
  color: rgb(182, 76, 38);
  padding: 5px 10px;
}

.center-div a:hover {
  color: rgb(187, 103, 72);
  text-decoration: underline;
}

.center-div p:last-child {
  font-size: 1rem;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(25, 27, 36, 0.4);
  font-size: 1rem;
  padding: 5px;
  color: #0a2049;
}

@media screen and (max-width: 600px) {
  .center-div h1 {
    font-size: 2rem;
  }
  .center-div p {
    font-size: 1rem;
  }
}
